.badge {
  background-color: red;
}


/* you'll have to figure out the exact number here */
/* .navbar-fixed-top {
  top: -70px;
} */

/* this can also be static */
/* .navbar-fixed-top, .navbar-fixed-bottom {
  position: relative;
} */
