<div class="row">
  <div class="col-xs-12">
    <h1>{{ customer.firstName }} {{customer.lastName}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Customer <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a style="cursor: pointer;" (click)="onEditCustomer()">Edit Product</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteCustomer()">Delete Product</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    Contact: {{ customer.contact }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Address: {{ customer.address }}
  </div>
</div>
