<div class="row">
  <div class="col-xs-12">
    <img
      [src]="product.imgPath"
      alt="{{ product.productName }}"
      style="max-height: 200px;"
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ product.productName }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Product <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToSales()" style="cursor: pointer;">Add To Sales</a></li>
        <li><a href="#">Edit Product</a></li>
        <li><a href="#">Delete Product</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ product.price }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ product.stock }}
  </div>
</div>
