<div class="row">
  <div class="col-xs-12">
    <h3>Add Sale</h3>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="prodId">Product</label>
          <!-- <select
            class="form-control" ngModel id="prodId" name="prodId" required (change)="onProdChange($event.target.value)">
            <option *ngFor="let product of products" [value]="product.productId">
              {{ product.productName }}</option>
          </select> -->
          <ng-select [items]="products"
                bindLabel="productName"
                bindValue="productId"
                [groupBy]="groupByCategory"
                (change)="onProdChange($event)"
                ngModel id="prodId" name="prodId"
                required>
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  <img height="40" width="40" [src]="item.imgPath"/>
                  <b>{{item.productName}}</b>
              </ng-template>
        </ng-select>
        </div>
        <div class="col-sm-2 form-group">
          <label for="quantity">Quantity</label>
          <input type="number" id="quantity" class="form-control" name="quantity" ngModel required [min]="0" pattern="^[1-9]+[0-9]*$"/>
        </div>
        <div class="col-sm-2 form-group">
          <label for="price">Price</label>
          <input type="number" id="price" class="form-control" name="price" [(ngModel)]="price" required readonly pattern="^(?:[1-9]\d*|0)?(?:\.\d+)?$"/>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            style="margin-right: 10px;"
            type="submit"
            [disabled]="!f.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger"
            style="margin-right: 10px;"
            type="button"
            (click)="onDelete()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button
            class="btn btn-warning"
            style="margin-right: 10px;"
            type="button"
            (click)="onClear()"
          >
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
