<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onNewProduct()">
        New Product
      </button>
    </div>
  </div>
  <h3>Products</h3>
  <div class="row">

    <div class="card-deck col-md-8"  style="margin-bottom: 20px; display: inline-block;">
      <div class="card card-items" style="max-width: 18rem; margin: 10px; display: inline-block;" *ngFor="let productEl of products; let i = index" >
        <app-product-item [product]="productEl"  [index]="i"></app-product-item>
      </div>
    </div>
    </div>
  </div>
  <!-- <div class="row">
    <div
      class="col-xs-3"
      style="margin-bottom: 20px;"
      *ngFor="let productEl of products; let i = index"
    >

    </div>
  </div> -->

