
  <div class="row">
    <div class="col-md-4 col-xs-2">
      <h2 style="margin-top: 0px;">Products</h2>
    </div>
    <div class="col-md-4 col-xs-6">
      <app-search-filter [placeholder]="'Search...'" (onEnter)="onSearchEnter($event)" (onClose)="onSearchClose()"></app-search-filter>
    </div>
    <div class="col-md-4 col-xs-4">
      <button class="btn btn-success" (click)="onNewProduct()">
        New Product
      </button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-2">
      <nav class="navbar navbar-nav navbar-default ">
        <ul class="flex-column nav navbar-nav">
          <li class="nav-item" [class.active]="clickedCat === 0" style="cursor: pointer; width: -webkit-fill-available;">
            <a class="nav-link" (click)="filterByCategory(0, 'All Products')">All Products</a>
          </li>
          <li class="nav-item" [class.active]="clickedCat === productCategory.productCatId" style="cursor: pointer; width: -webkit-fill-available;" *ngFor="let productCategory of productCategories">
            <a class="nav-link" (click)="filterByCategory(productCategory.productCatId, productCategory.productCatName)">{{productCategory.productCatName}}</a>
          </li>
        </ul>
      </nav>
    </div>
    <h5> {{ categoryName }}</h5>
    <div class="col-xs-10 scrollbar" id="style-7">
      <div
        class="card-deck col-md-12"
        style="margin-bottom: 20px; display: inline-block;"
      >
        <div
          class="card card-items"
          style="max-width: 18rem; margin: 20px; display: inline-block;"
          *ngFor="let productEl of filteredProducts; let i = index"
        >
          <app-product-item
            [product]="productEl"
          ></app-product-item>
          <div class="card-item" style="text-align: center">
            <button class="btn btn-success btn-md add-button" type="button" (click)="onAddToSales(productEl.productId)" >Add to Cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- <div class="row">
    <div
      class="col-xs-3"
      style="margin-bottom: 20px;"
      *ngFor="let productEl of products; let i = index"
    >

    </div>
  </div> -->
