<a
  [routerLink]="[product.productId]"
  routerLinkActive="active"
  style="cursor: pointer;"
  class="list-group-item clearfix"
>
    <img
      [src]="product.imgPath"
      alt="{{ product.productName }}"
      class="img-responsive card-img-top"
      style="width: 150px; height: 150px;"
    />
    <div class="card-body" style="text-align: center">
      <h5 class="card-title">{{ product.productName }}</h5>
      <p class="card-text"><small> {{ product.productCode }}</small></p>
      <p class="card-text">Price: {{ product.price | currency }}</p>
      <p class="card-text" [ngStyle]="{ color: product.unitInStock == 0 ? 'red' : 'green' }">{{ product.unitInStock > 0 ? "In Stock" : "Out of Stock" }}</p>
    </div>

</a>



