<div class="row">
  <div class="col-md-4">
    <h2 style="margin-top: 0px;">Invoices</h2>
  </div>
  <div class="col-md-8"  style="text-align: -webkit-right;">
    <app-search-filter [placeholder]="'Search...'" (onEnter)="onSearchEnter($event)" (onClose)="onSearchClose()"></app-search-filter>
  </div>
</div>
<div class="row">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Register User</th>
        <th scope="col">Payment Type</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Date</th>
        <!-- <th scope="col"></th> -->
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let invoice of filteredInvoices; let i = index">
        <tr style="cursor: pointer" (click)="current = current == i ? -1 : i">
          <th scope="row">{{ invoice.invoiceId }}</th>
          <td>
            {{invoice.customerId | getname: customers:"customerId":"firstName"}}
            {{invoice.customerId | getname: customers:"customerId":"lastName"}}
          </td>
          <td>
            {{ invoice.regUser | getname: users:"userId":"firstName" }}
            {{ invoice.regUser | getname: users:"userId":"lastName" }}
          </td>
          <td>{{ invoice.paymentType | getname: paymentTypes:"id":"name" }}</td>
          <td>{{ invoice.totalAmount | currency }}</td>
          <td>{{ invoice.date | date }}</td>
          <td>
              <i
                class="glyphicon"
                [class.glyphicon-chevron-right]="i != current"
                [class.glyphicon-chevron-down]="i == current"
              ></i>
          </td>
        </tr>
        <tr id="collapse1"
          class="panel-collapse"
          [class.collapse]="current != i">
          <td></td>
          <td colspan="6">
            <app-invoice-details  [sales]="invoice.sales"></app-invoice-details>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <ngb-pagination
    [collectionSize]="invoices.length"
    [(page)]="page"
    [maxSize]="pageSize"
    [rotate]="true"
    [ellipses]="false"
    [boundaryLinks]="true"
  ></ngb-pagination>
</div>
