<h2>Invoices</h2>
<!-- <div class="row">
  <div class="col-xs-7 text-right float-right">
    <mat-search-bar
      (onEnter)="search($event)"
      (onClose)="onSearchClose()"
    ></mat-search-bar>
  </div>
</div> -->
<app-invoice-details *ngIf="detailPopupVisibility" [message]="'Invoice Details'" (click)="onDetailClose()"></app-invoice-details>
<div class="row">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Register User</th>
        <th scope="col">Payment Type</th>
        <th scope="col">Total Amount</th>
        <th scope="col">Date</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        style="cursor: pointer;"
        *ngFor="let invoice of invoices; let i = index"
      >
        <th scope="row">{{ invoice.invoiceId }}</th>
        <td>
          {{
            invoice.customerId | getname: customers:"customerId":"firstName"
          }}
          {{ invoice.customerId | getname: customers:"customerId":"lastName" }}
        </td>
        <td>
          {{ invoice.regUser | getname: users:"userId":"firstName" }}
          {{ invoice.regUser | getname: users:"userId":"lastName" }}
        </td>
        <td>{{ invoice.paymentType | getname: paymentTypes:"id":"name" }}</td>
        <td>{{ invoice.totalAmount | currency }}</td>
        <td>{{ invoice.date | date }}</td>
      <!--   <td>
          <a (click)="openDetails(invoice.invoiceId)">Details</a>
        </td> -->
      </tr>
    </tbody>
  </table>
</div>
