<div class="row">
  <div class="col-xs-10">
    <app-sales-edit></app-sales-edit>
    <hr>
    <ul class="list-group">
      <h4>Sales</h4>
      <a class="list-group-item"
      style="cursor: pointer; margin:10px;"
      *ngFor="let sale of sales; let i = index"
      (click)="onEditProductItem(i)"
    >

      {{sale.productId | getname:products:'productId':'productName'}}
        Price: {{sale.price | currency}}
        Quantity: {{sale.quantity}}
        Subtotal: {{sale.price * sale.quantity | currency}}
    </a>
      <button class="btn btn-primary" style="margin: 10px">Get Payment</button>
    </ul>
  </div>
</div>
